{% extends 'WebjuegosJuegosFrontBundle::base.html.twig' %}

{% block stylesheets %}
      
    <link href="{{ asset('../bundles/webjuegosjuegosfront/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('../bundles/webjuegosjuegosfront/css/cover.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('../bundles/webjuegosjuegosfront/css/propio.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('../bundles/webjuegosjuegosfront/css/portada.css') }}" type="text/css" rel="stylesheet" />
    
{% endblock %}


{% block body %}
    
    <div class="site-wrapper sep sep-bottom">

      <div class="site-wrapper-inner">

        <div class="cover-container">



          <div class="inner cover ">
            <h1 class="cover-heading">Cover your page.</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>

            <a href="/tetris">
                <div class="jugar" id="juego-tetris">
                
                </div>
            </a>
            
            <a href="/breakout">
                <div class="jugar" id="juego-breakout">
                
                </div>
            </a>
            
            <a href="/dots">
                <div class="jugar" id="juego-dots">
                
                </div>
            </a>
            
          </div>



        </div>

      </div>

    </div>
    
{% endblock %}    
